@import "../../main-styles.scss";
.budget-item-section {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  .budget-item-container {
    display: flex;
    max-width: 680px;
    height: 100%;
    width: 100%;
    .income-coloumn,
    .expense-coloumn {
      display: flex;
      flex-direction: column;
      flex-basis: 0;
      flex-grow: 1;
    }
    .income-coloumn {
      h1 {
        font-family: "Lato";
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        color: $green;
      }
    }
    .expense-coloumn {
      h1 {
        font-family: "Lato";
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        color: $red;
      }
    }
  }
}
@media (max-width: 400px) {
  .budget-item-container {
    display: flex;
    flex-direction: column;
    .income-coloumn,
    .expense-coloumn {
      margin: 20px 0;
    }
  }
}
